body {
    background-image: url(/img/background5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.title {
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 2.5%;
    color: black;
}

.form-control,
.form-select {
    background-color: rgba(8, 8, 8, 0.252);
    color: white;
}

.form-control::placeholder {
    color: white;
}

label {
    color: black;
    font-weight: bold;
}

.ship,
.total {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-color: rgba(255, 255, 255, 0.562);

}

.ship {
    margin-top: 10%;

}

.total {
    margin-bottom: 10%;
}

.sect {
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid black;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 2%;
    border-color: rgba(255, 255, 255, 0.548);
    background-color: rgba(8, 8, 8, 0.223);
}

.sect2 {
    margin-left: 3%;
    margin-right: 3%;
}

.bot {
    margin-top: 5%
}

.image {
    border-radius: 10%;

    border: 2px solid rgba(255, 255, 255, 0.767);
}

.sect3 {
    float: right;
    margin-left: 5%;
    margin-right: 3%;
}
.cover{
    display: block;

    
}
.gr,
.gr2 {
    color: greenyellow;
    font-size: larger;

}


.gr3 {
    text-align-last:right ;
}
.total{
    word-spacing: 250px;
}
.s{
    word-spacing: 270px;
}
.ship,
.total,
.pp,
.pp2 {
    color: white;
}

.ship,
.total,
.pp {
    font-weight: bold;
}

.sect2 {
    display: block;
}

.site-footer {
    position: fixed sticky;
    background-color: rgba(10, 10, 10, 0.401);
    margin-bottom: 0%;
    margin-top: 5%;

    color: white;
    width: 100%;
    height: 5%;
    font-size: larger;

}


.shipping,
.contact {
    color: black;
}
.shipping{
    margin-top: 5%;
}
.c {
    margin-bottom: 1%;
}
p{
    padding-bottom: 0%;
    margin-bottom: 0%;
}